
<div class="center">
    <h2 style="text-align:center">VMS User Registration</h2>
    <form #registerForm = "ngForm" (ngSubmit)="OnSubmit(registerForm)">
                            <mat-form-field appearance="outline" style="margin-right: 10px;">
                                <mat-label>Role</mat-label>
                                <mat-select  ngModel required name="regrole" #regrole="ngModel" required>
                                    <mat-option value="01">Admin</mat-option>
                                    <mat-option value="02">Requester</mat-option>
                                    <mat-option value="03">Security</mat-option>
                                </mat-select>
                                <mat-error class="invalid-feedback" *ngIf="regrole.hasError('required') && regrole.touched">Role is Mandatory</mat-error>
                            </mat-form-field>
                            <br />
                            <mat-form-field appearance="outline" style="margin-right: 10px;">
                            <mat-label>User Name</mat-label>
                            <input matInput type="text" name="regusername" maxlength="50" style="text-transform:uppercase;" ngModel #regusername="ngModel" required>          
                            <span></span>
                            <mat-error class="invalid-feedback" *ngIf="!regusername.valid && regusername.touched">User Name is Mandatory</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>User Employee ID</mat-label>
                            <input matInput type="text" name="regEmpID" maxlength="8" style="text-transform:uppercase;" ngModel #regEmpID="ngModel" required>          
                            <span></span>
                            <mat-error class="invalid-feedback" *ngIf="!regEmpID.valid && regEmpID.touched">User Employee ID is Mandatory</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field appearance="outline" style="margin-right: 10px;">
                            <mat-label>User Mobile Number</mat-label>
                            <input matInput type="tel" maxlength="11" name="regUserMobileNumber" placeholder="ex. 012-3456789" ngModel #regUserMobileNumber="ngModel" required pattern="[0-9]{3}-[0-9]{7}">          
                            <span></span>
                            <mat-error class="invalid-feedback" *ngIf="regUserMobileNumber.invalid && regUserMobileNumber.dirty && regUserMobileNumber.touched">Phone format unmacthed.</mat-error>
                            <mat-error class="invalid-feedback" *ngIf="regUserMobileNumber.hasError('required') && regUserMobileNumber.touched">User Mobile Number is Mandatory</mat-error>                        
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>User Email Address</mat-label>
                            <input matInput type="email" name="regUserEmail" maxlength="20" placeholder="ex. user@email.com" ngModel #regUserEmail="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">          
                            <span></span>
                            <mat-error class="invalid-feedback" *ngIf="regUserEmail.invalid && regUserEmail.dirty && regUserEmail.touched">Email invalid format.</mat-error>
                            <mat-error class="invalid-feedback" *ngIf="regUserEmail.hasError('required') && regUserEmail.touched">User Email Address is Mandatory</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field appearance="outline" style="margin-right: 10px;">
                            <mat-label>Login ID</mat-label>
                            <input matInput type="text" name="regloginid" maxlength="8" style="text-transform:uppercase;" ngModel #regloginid="ngModel" required>          
                            <span></span>
                            <mat-error class="invalid-feedback" *ngIf="regloginid.hasError('required') && regloginid.touched">Login ID is Mandatory</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field appearance="outline" style="margin-right: 10px;">
                            <mat-label>Password</mat-label>                            
                            <input matInput [type]="hide ? 'password' : 'text'" minlength="6" maxlength="8" name="regpassword" ngModel #regpassword="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>          
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <span></span>
                            <mat-error class="invalid-feedback" *ngIf="regpassword.dirty && regpassword.errors?.minlength">Password must be at least 6 characters long and maximum 8 characters </mat-error>
                            <mat-error class="invalid-feedback" *ngIf="regpassword.dirty && regpassword.value.length > 5 && regpassword.hasError('pattern')">Password must have at least <strong>1 Uppercase and 1 Lowercase letter</strong>. </mat-error>
                            <mat-error class="invalid-feedback" *ngIf="regpassword.hasError('required') && regpassword.touched">Password is Mandatory</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" style="margin-right: 10px;">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput  [type]="hide ? 'password' : 'text'" minlength="6" maxlength="8" name="regconfirmpassword" ngModel #regconfirmpassword="ngModel" pattern="{{ regpassword.value }}" required>          
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <span></span>
                            <mat-error class="invalid-feedback" *ngIf="regconfirmpassword.dirty && regpassword.value.length > 5 && regconfirmpassword.hasError('pattern')">Password and Confirm Password must be match. </mat-error>
                            <mat-error class="invalid-feedback" *ngIf="regconfirmpassword.touched && regconfirmpassword.dirty && regconfirmpassword.hasError('required')">Confirm Password is Mandatory</mat-error>
                        </mat-form-field>
                        <br />
                        <mat-form-field appearance="outline" style="margin-right: 10px;">
                            <mat-label>Site</mat-label>
                            <mat-select  ngModel required name="regsite" #regsite="ngModel" required>
                                <mat-option value="01">Nilai</mat-option>
                                <mat-option value="02">Malacca</mat-option>
                            </mat-select>
                            <mat-error class="invalid-feedback" *ngIf="regsite.hasError('required') && regsite.touched">Site is Mandatory</mat-error>
                        </mat-form-field>         
                        <mat-form-field appearance="outline" style="margin-right: 10px;">
                            <mat-label>Plant / Department</mat-label>
                            <mat-select  ngModel required name="regplant" #regplant="ngModel">
                                <ng-template [ngIf]="regsite.dirty && regsite.value === '01'">
                                    <mat-option value="NDTY1">DTY 1</mat-option>
                                    <mat-option value="NDTY2">DTY 2</mat-option>
                                    <mat-option value="NHTY2">HTY 2</mat-option>
                                    <mat-option value="NKNIT">Knitting</mat-option>
                                    <mat-option value="NPSF">PSF</mat-option>
                                    <mat-option value="NPOY2">POY 2</mat-option>
                                    <mat-option value="NPOY4">POY 4</mat-option>
                                    <mat-option value="NPFY4G">PFY4G</mat-option>
                                    <mat-option value="NFDY2">FDY 2</mat-option>
                                    <mat-option value="NWEV1">WEV 1</mat-option>
                                    <mat-option value="NWEV2">WEV 2</mat-option>
                                    <mat-option value="NMC">Material Control</mat-option>
                                    <mat-option value="NELEC">Electrical</mat-option>
                                    <mat-option value="NUTIL">Utilities</mat-option>
                                    <mat-option value="NADM">Admin</mat-option>
                                    <mat-option value="NCOST">Costing</mat-option>
                                    <mat-option value="NPUR">Purchasing</mat-option>
                                    <mat-option value="NGEN">General Engineering</mat-option>
                                    <mat-option value="NHR">Huaman Resource</mat-option>
                                    <mat-option value="NSEC">Security</mat-option>
                                    <mat-option value="NIT">Information Technology</mat-option>
                                    <mat-option value="NSD">Software Development</mat-option>
                                </ng-template>
                                <ng-template [ngIf]="regsite.dirty && regsite.value === '02'">
                                    <!-- if site is Melaka -->
                                    <mat-option value="MDTY1">DTY 1</mat-option>
                                    <mat-option value="MDTY2">DTY 2</mat-option>
                                    <mat-option value="MDYE">Dyeing</mat-option>
                                    <mat-option value="MWEV1">WEV 1</mat-option>
                                    <mat-option value="MWEV2">WEV 2</mat-option>
                                    <mat-option value="MMC">Material Control</mat-option>
                                    <mat-option value="MELEC">Electrical</mat-option>
                                    <mat-option value="MUTIL">Utilities</mat-option>
                                    <mat-option value="MADM">Admin</mat-option>
                                    <mat-option value="MCOST">Costing</mat-option>
                                    <mat-option value="MPUR">Purchasing</mat-option>
                                    <mat-option value="MHR">Huaman Resource</mat-option>
                                    <mat-option value="MSEC">Security</mat-option>
                                    <mat-option value="MIT">Information Technology</mat-option>
                                </ng-template>
                                
                            </mat-select>
                            <mat-error class="invalid-feedback" *ngIf="regplant.hasError('required') && regplant.touched">Plant is Mandatory</mat-error>
                        </mat-form-field> 
                        <br />
                        <mat-form-field appearance="outline" style="margin-right: 10px;">
                            <mat-label>User Description for Login</mat-label>
                            <textarea matInput rows="2" cols="40" maxlength="50" name="regdescription" ngModel #regdescription="ngModel" required> 
                            </textarea>      
                            <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                            <mat-hint align="end" *ngIf="regdescription.dirty">{{regdescription.value.length}} / 50</mat-hint>      
                            <span></span>
                            <mat-error class="invalid-feedback" *ngIf="regdescription.invalid && regdescription.touched">User Description is Mandatory</mat-error>
                        </mat-form-field> 
                        <br />
                        <div>
                            <button mat-stroked-button color="primary" style="margin-right: 10px;" [disabled]=!registerForm.form.valid >Register</button>
                            <button mat-stroked-button color="primary" [routerLink]="['/login']" >Cancel</button>
                        </div>
                        <br /> 
      
    </form>
  </div>
