
<div class="center">
    <h2 style="text-align:center">VMS User Registration</h2>
    <form #registerForm = "ngForm" (ngSubmit)="OnSubmit(registerForm)">
                        <mat-form-field>
                            <mat-label>User Name</mat-label>
                            <input matInput type="text" name="regusername" maxlength="50" style="text-transform:uppercase;" ngModel #regusername="ngModel" required>          
                            <span></span>
                            <div class="invalid-feedback" *ngIf="!regusername.valid && regusername.touched"><a class="txt_error">User Name is Mandatory</a></div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>User Employee ID</mat-label>
                            <input matInput type="text" name="regEmpID" maxlength="8" style="text-transform:uppercase;" ngModel #regEmpID="ngModel" required>          
                            <span></span>
                            <div class="invalid-feedback" *ngIf="!regEmpID.valid && regEmpID.touched"><a class="txt_error">User Employee ID is Mandatory</a></div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>User Mobile Number</mat-label>
                            <input matInput type="tel" maxlength="11" name="regUserMobileNumber" placeholder="012-3456789" ngModel #regUserMobileNumber="ngModel" required pattern="[0-9]{3}-[0-9]{7}">          
                            <span></span>
                            <div class="invalid-feedback" *ngIf="regUserMobileNumber.invalid && (regUserMobileNumber.dirty || regUserMobileNumber.touched)"><a class="txt_error">Phone format unmacthed. </a></div>
                            <div class="invalid-feedback" *ngIf="regUserMobileNumber.hasError('required') && regUserMobileNumber.touched"><a class="txt_error">User Mobile Number is Mandatory</a></div>                        
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>User Email Address</mat-label>
                            <input matInput type="email" name="regUserEmail" maxlength="20" placeholder="user@email.com" ngModel #regUserEmail="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">          
                            <span></span>
                            <div class="invalid-feedback" *ngIf="!regUserEmail.valid && (regUserEmail.dirty || regUserEmail.touched)"><a class="txt_error">Email invalid format.</a></div>
                            <div class="invalid-feedback" *ngIf="regUserEmail.hasError('required') && regUserEmail.touched"><a class="txt_error">User Email Address is Mandatory</a></div>
                            <span class="text-danger" *ngIf="regUserEmail.touched && regUserEmail.errors?.email">Enter a valid email address</span>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Login ID</mat-label>
                            <input matInput type="text" name="regloginid" maxlength="8" style="text-transform:uppercase;" ngModel #regloginid="ngModel" required>          
                            <span></span>
                            <div class="invalid-feedback" *ngIf="regloginid.hasError('required') && regloginid.touched"><a class="txt_error">Login ID is Mandatory</a></div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Password</mat-label>                            
                            <input matInput [type]="hide ? 'password' : 'text'" minlength="6" maxlength="8" name="regpassword" ngModel #regpassword="ngModel" required>          
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <span></span>
                            <div class="invalid-feedback" *ngIf="regpassword.errors?.minlength && regpassword.touched"><a class="txt_error">Password must be at least 6 characters long and maximum 8 characters.</a></div> 
                            <div class="invalid-feedback" *ngIf="regpassword.hasError('required') && regpassword.touched"><a class="txt_error">Password is Mandatory</a></div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Confirm Password</mat-label>
                            <input matInput  [type]="hide ? 'password' : 'text'" minlength="6" maxlength="8" name="regconfirmpassword" ngModel #regconfirmpassword="ngModel" required>          
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <span></span>
                            <div class="invalid-feedback" *ngIf="regconfirmpassword.errors?.minlength && regconfirmpassword.touched"><a class="txt_error">Password must be at least 6 characters long and maximum 8 characters.</a></div> 
                            <div *ngIf="(regconfirmpassword.dirty || regconfirmpassword.touched) && regconfirmpassword.value.length > 5 && regconfirmpassword.value != regpassword.value"><a class="txt_error">Password and Confirm Password must be match.</a></div>
                            <div class="invalid-feedback" *ngIf="regconfirmpassword.hasError('required') && regconfirmpassword.touched"><a class="txt_error">Confirm Password is Mandatory</a></div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Role</mat-label>
                            <mat-select  ngModel required name="regrole" #regrole="ngModel" required>
                                <mat-option value="01">Admin</mat-option>
                                <mat-option value="02">Requester</mat-option>
                                <mat-option value="03">Security</mat-option>
                            </mat-select>
                            <div class="invalid-feedback" *ngIf="regrole.hasError('required') && regrole.touched"><a class="txt_error">Role is Mandatory</a></div>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Site</mat-label>
                            <mat-select  ngModel required name="regsite" #regsite="ngModel" required>
                                <mat-option value="01">Nilai</mat-option>
                                <mat-option value="02">Malacca</mat-option>
                            </mat-select>
                            <div class="invalid-feedback" *ngIf="regsite.hasError('required') && regsite.touched"><a class="txt_error">Site is Mandatory</a></div>
                        </mat-form-field>         
                        <mat-form-field>
                            <mat-label>Plant / Department</mat-label>
                            <mat-select  ngModel required name="regplant" #regplant="ngModel">
                                <mat-option value="NDTY1">DTY 1</mat-option>
                                <mat-option value="NDTY2">DTY 2</mat-option>
                                <mat-option value="NHTY2">HTY 2</mat-option>
                                <mat-option value="NKNIT">Knitting</mat-option>
                                <mat-option value="NPSF">PSF</mat-option>
                                <mat-option value="NPOY2">POY 2</mat-option>
                                <mat-option value="NPOY4">POY 4</mat-option>
                                <mat-option value="NPFY4G">PFY4G</mat-option>
                                <mat-option value="NFDY2">FDY 2</mat-option>
                                <mat-option value="NWEV1">WEV 1</mat-option>
                                <mat-option value="NWEV2">WEV 2</mat-option>
                                <mat-option value="NMC">Material Control</mat-option>
                                <mat-option value="NELEC">Electrical</mat-option>
                                <mat-option value="NUTIL">Utilities</mat-option>
                                <mat-option value="NADM">Admin</mat-option>
                                <mat-option value="NCOST">Costing</mat-option>
                                <mat-option value="NPUR">Purchasing</mat-option>
                                <mat-option value="NGEN">General Engineering</mat-option>
                                <mat-option value="NHR">Huaman Resource</mat-option>
                                <mat-option value="NSEC">Security</mat-option>
                                <mat-option value="NIT">Information Technology</mat-option>
                                <mat-option value="NSD">Software Development</mat-option>
                                <!-- if site is Melaka -->
                                <mat-option value="MDTY1">DTY 1</mat-option>
                                <mat-option value="MDTY2">DTY 2</mat-option>
                                <mat-option value="MDYE">Dyeing</mat-option>
                                <mat-option value="MWEV1">WEV 1</mat-option>
                                <mat-option value="MWEV2">WEV 2</mat-option>
                                <mat-option value="MMC">Material Control</mat-option>
                                <mat-option value="MELEC">Electrical</mat-option>
                                <mat-option value="MUTIL">Utilities</mat-option>
                                <mat-option value="MADM">Admin</mat-option>
                                <mat-option value="MCOST">Costing</mat-option>
                                <mat-option value="MPUR">Purchasing</mat-option>
                                <mat-option value="MHR">Huaman Resource</mat-option>
                                <mat-option value="MSEC">Security</mat-option>
                                <mat-option value="MIT">Information Technology</mat-option>
                            </mat-select>
                            <div class="invalid-feedback" *ngIf="regplant.hasError('required') && regplant.touched"><a class="txt_error">Plant is Mandatory</a></div>
                        </mat-form-field> 
                        <mat-form-field>
                            <mat-label>User Description</mat-label>
                            <textarea matInput rows="2" cols="40" name="regdescription" ngModel #regdescription="ngModel" required> 
                            </textarea>            
                            <span></span>
                            <div class="invalid-feedback" *ngIf="!regdescription.valid && regdescription.touched"><a class="txt_error">User Description is Mandatory</a></div>
                        </mat-form-field> 
                        <div>
                            <button mat-stroked-button color="primary" [disabled]=!registerForm.form.valid >Register</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button mat-stroked-button color="primary" [routerLink]="['/login']" >Cancel</button>
                        </div>
                        <br /> 
      
    </form>
  </div>